{% extends 'base.html' %}
{% block content %}
        <div class="container-fluid">


<!--                        Make sure to keep all page content within the-->
<!--                        <code>#page-content-wrapper</code>-->
<!--                        . The top navbar is optional, and just for demonstration. Just create an element with the-->
<!--                        <code>#sidebarToggle</code>-->
<!--                        ID which will toggle the menu when clicked.-->


            <nav>
                <div class="container">
                    <table class="table" >
                        <thead style="border-bottom: solid black 1px;">
                        <tr class="thead"> <th>게시판</th><th>내용</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <a href="/notice/notice" style="text-decoration : none;">공지사항</a>
                            </td>
                            <td><ul>
                            {% for o in objs %}
                            {% if o.board == '공지' %}


                                <li><a href="/notice/notice">{{o.board_title}}</a></li>

                            {% endif %}
                            {% endfor %}
                            </ul></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/info/info"  style="text-decoration : none;">정보게시판</a>
                            </td>
                            </td>
                            <td><ul>
                            {% for o in objs %}
                            {% if o.board == '정보' %}


                                <li><a href="/info/info">{{o.board_title}}</a></li>

                            {% endif %}
                            {% endfor %}
                            </ul></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/free/free"  style="text-decoration : none;">자유게시판</a>
                            </td>
                            </td>
                            <td><ul>
                            {% for o in objs %}
                            {% if o.board == '자유' %}


                                <li><a href="/free/free">{{o.board_title}}</a></li>

                            {% endif %}
                            {% endfor %}
                            </ul></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/qna/qna"  style="text-decoration : none;">질문 게시판</a>
                            </td>
                            </td>
                            <td><ul>
                            {% for o in objs %}
                            {% if o.board == '질문' %}


                                <li><a href="/qna/qna">{{o.board_title}}</a></li>

                            {% endif %}
                            {% endfor %}
                            </ul></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/study/study"  style="text-decoration : none;">스터디 모임</a>
                            </td>
                            </td>
                            <td><ul>
                            {% for o in objs %}
                            {% if o.board == '스터디' %}


                                <li><a href="/study/study">{{o.board_title}}</a></li>

                            {% endif %}
                            {% endfor %}
                            </ul></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/project/project"  style="text-decoration : none;">프로젝트 모임</a>
                            </td>
                            </td>
                            <td><ul>
                            {% for o in objs %}
                            {% if o.board == '프로젝트' %}


                                <li><a href="/project/project">{{o.board_title}}</a></li>

                            {% endif %}
                            {% endfor %}
                            </ul></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </nav>
        </div>
{% endblock %}