{% extends 'base.html' %}
{% block content %}
        <div class="container-fluid">
            <nav>
                <div class="container">
                   <form action="loginimpl" method="post">
                        {% csrf_token %}
                        ID <input type="text" name="id"><br>
                        PWD <input type="password" name="pwd"><br>
                        <input type="submit" value="LOGIN">
                    </form>
                </div>
            </nav>
        </div>

{% endblock %}
