{% extends 'base.html' %}
{% block content %}
        <div class="container-fluid">
            <nav>
                <div class="container">
                   <form action="registerimpl" method="post">
                        {% csrf_token %}
                        ID <input type="text" name="user_id"><br>
                        비밀번호 <input type="text" name="user_pwd"><br>
                        이름 <input type="text" name="user_name"><br>
                        E-MAIL <input type="text" name="user_email"><br>
                        전화번호 <input type="text" name="user_phone"><br>
                        선호기업1 <input type="text" name="favcom1"><br>
                        선호기업2 <input type="text" name="favcom2"><br>
                        선호언어1 <input type="text" name="favlang1"><br>
                        선호언어2 <input type="text" name="favlang2"><br>
                        <input type="submit" value="register">
                        <input type="reset" value="reset">
                   </form>
                </div>
            </nav>
        </div>
{% endblock %}