{% extends 'base.html' %}
{% block content %}
        <div class="container-fluid">
            <nav>
                <div class="container">
                    <table class="table">
                        <thead class="thead-light">
                        <tr class="thead"> <th>번호</th><th>제목</th><th>글쓴이</th><th>날짜</th></tr>
                        </thead>
                        <tbody>
                        <div id='content'>
                        <h1>Search Result</h1>

                        {%if message%}
                                <b><i>{{message}}</i></b>
                        {% else %}

                            {% if search_boards %}
                                {% for post in search_boards %}
                                 <tr>
                                    <td>{{post.board_id}}</td>
                                    <td>{{post.board_title}}</td>
                                    <td>{{post.user_id}}</td>
                                    <td>{{post.board_date}}</td>
                                 </tr>
                                {% endfor %}

                            {% elif search_term %}
                                <b><i>[{{search_term}}] 검색 결과가 없습니다. </i></b>
                            {% endif %}
                        {% endif %}
                    </div>

                        </tbody>
                    </table>
                    {% if request.session.sessionid == None %}
                    {% else %}
                    <a href="/create" class="btn btn-primary">
                        글쓰기
                    </a>
                     {% endif %}
                    </div>
            </nav>
        </div>
{% endblock %}